<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu Perfil 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações Pessoais</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-img src="assets/icon/foto.jpg" alt="Minha Foto" class="diminuir_imagem"></ion-img>
      </ion-item>

      <ion-item>
        <ion-label class="texto" position="stacked">Nome:</ion-label>
        <ion-input value="Leticia Alcantara de Morais" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="texto" position="stacked">Matrícula:</ion-label>
        <ion-input value="23201060" readonly></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


